chardet==5.2.0
charset-normalizer==3.4.3
contourpy==1.1.1
cycler==0.12.1
filelock==3.16.1
fonttools==4.57.0
fsspec==2025.3.0
hpack==4.0.0
kiwisolver==1.4.7
matplotlib==3.7.5
mpmath==1.3.0
networkx==3.1
nodeenv==1.9.1
numpy==1.24.4
pillow==10.4.0
pyparsing==3.1.4
pyright==1.1.403
pywin32==306
requests==2.32.4
sympy==1.13.3
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.67.1
zipp==3.20.2
zstandard==0.23.0